body
{
  background-color: black;
  color:white;
}
a
{
  color:white;
  text-decoration:none;
  border:1px solid White;
  padding:5px;
  border-radius:10px;
}
a:hover
{
  color:#01f9c0;
  text-decoration:none;
  border:1px solid #01f9c0;
  padding:5px;
  border-radius:10px;
}
div#form
{
  position: relative;
  width:50%;
  left:25%;
  top:100px;
}
#head
{

  text-align: center;
  font-size:2em;
  font-weight:700;
  font-family:monospace;
  letter-spacing:.20em;
  border-bottom:4px solid #00ff14;
  margin: 5% 15% 10% 15%;
}
#username
{
  border-bottom:4px solid #00ff14;
  margin: 5% 15% 5% 15%;
}
div#username input
{
  background: none;
  width: 100%;
  border:none;
  outline:none;
  font-size:1.2em;
  padding-left:5%;
  letter-spacing: .10em;
  color:white;
}
#password
{
  border-bottom:4px solid #00ff14;
  margin: 5% 15% 5% 15%;
}
div#password input
{
  background: none;
  width: 100%;
  border:none;
  outline:none;
  font-size:1.2em;
  padding-left:5%;
  word-spacing: .5em;
  letter-spacing: .10em;
  color:white;
}
#submit
{
  border:4px solid #00ff14;
  margin: 5% 15% 5% 15%;
}

div#submit input
{
  background: none;
  width: 100%;
  border:none;
  outline:none;
  font-size:1.2em;
  padding-left:5%;
  word-spacing: .5em;
  letter-spacing: .10em;
  color:white;
}

#username:hover
{
  border-bottom:4px solid #01f9c0;
  margin: 5% 15% 5% 15%;
}
#password:hover
{
  border-bottom:4px solid #01f9c0;
  margin: 5% 15% 5% 15%;
}
#submit:hover
{
  opacity:.5;
  border:4px solid #01f9c0;
}
